@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: righteous;
    src: url("fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: work;
    src:url("fonts/WorkSans-VariableFont_wght.ttf");
}
